    umc-column-section {
        --background-color--default: $white;
        --padding-vertical--default: 0px;
        --padding-horizontal--default: 0px;
        --border-color--default: transparent;
        padding: var(--padding-vertical, var(--padding-vertical--default)) var(--padding-horizontal, var(--padding-horizontal--default));
        background-color: var(--background-color, var(--background-color--default));
        border-bottom: 1px solid var(--border-color, var(--border-color--default));
        margin-bottom: 32px;
        @include act-as-column-section--unscoped;
    }
    
    umc-column-section.umc-breadcrumbs {
        padding: 0;
    }
    
    umc-column-section.umc-location-switch {
        --text-color: #005261;
        --border-color: #ced9e5;
        --margin-bottom: 0;
        --padding-vertical: 8px;
        justify-content: space-between;
        umc-column {
            flex-direction: row;
            width: 100%;
            justify-content: center;
        }
    }
    
    umc-column-section.umc-navigation-menu,
    umc-column-section.umc-breadcrumbs {
        @include min-screen-width('desktop') {
            width: map-deep-get($screens, 'desktop', 'content-width') - ( map-deep-get($screens, 'desktop', 'gutter-width') * 2);
        }
    }
    
    umc-section.styleguide-main-navigation umc-column-section {
        flex-wrap: wrap;
    }
    
    umc-section.footer-links,
    umc-section.footer-colofon {
        umc-column-section {
            @include min-screen-width('tablet-portrait') {
                flex-wrap: wrap;
            }
            @include min-screen-width('tablet-landscape') {
                flex-wrap: nowrap;
            }
        }
    }