umc-list-item {
  display: list-item;
  list-style-type: none;
  
  font-family: 'Museo Sans Rounded', sans-serif;
  font-weight: 300;
  font-size: var(--text-size, var(--text-size--default));
  color: var(--text-color, var(--text-color--default));
  line-height: rem-calc(24px);

  a {
    color: var(--text-color, var(--text-color--default));
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.umc-list_horizontal--always umc-list-item {
  display: inline;
}

// Todo: abstract away to share style
  .font-style--big umc-list-item {
    font-size: rem-calc(22px);
    line-height: rem-calc(56px);
    font-weight: 500;
    border-bottom: 1px solid #00778a;

    &:last-child {
      border-bottom-width: 0;
    }
  }

  .font-style--regular umc-list-item {
    font-size: rem-calc(18px);
    line-height: rem-calc(40px);
  }






