umc-list-item {
  display: list-item;
  list-style-type: none;
  
  font-family: 'Museo Sans Rounded', sans-serif;
  font-weight: 300;
  font-size: var(--text-size, var(--text-size--default));
  color: var(--text-color, var(--text-color--default));
  line-height: rem-calc(24px);

  a {
    color: var(--text-color, var(--text-color--default));
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.umc-list_horizontal--always umc-list-item {
  display: inline;
}




