@import './base.scss';

body {
    padding: 0;
    margin: 0;
  }

  umc-header-section.location-switch {
    --padding: 16px 0;
    --border-color: #ced9e5;
  }

  umc-header-section.main-navigation {
    --padding: 24px 0;
  }

  .logo {
    width: 200px;
    width: 260px;
  }