umc-menu-toggle {
    umc-label {
        font-family: 'Museo Sans Rounded', sans-serif;
        font-weight: 500;
        font-size: rem-calc(20px);
        color: $blue-lagoon;
        margin: 0;
        display: inline-flex;
        align-items: center;
        span {
            display: none;
            @include min-screen-width('tablet-portrait') {
                display: inline;
            }
        }
    }
    &:hover {
        cursor: pointer;
    }
}

umc-menu-toggle.umc-menu-toggle--menu umc-label::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(./assets/icon-hamburger-azure-blue.svg);
    background-repeat: no-repeat;
    margin-right: 8px;
}

umc-menu-toggle.umc-menu-toggle--search umc-label::after {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(./assets/icon-search-azure-blue.svg);
    background-repeat: no-repeat;
    margin-left: 8px;
}