umc-button {
    // margin-left: -64px;
    border: 1px solid #00778a;
    border-radius: 28px;
    padding: 16px 24px;
    font-family: 'Museo Sans Rounded', sans-serif;
    font-weight: 500;
    color: #00778a;
}

umc-button:hover {
    cursor: pointer;
}

.umc-search-header umc-button {
    border-width: 0;
}

.umc-search-header umc-button::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(./assets/icon-search-white.svg);
    background-repeat: no-repeat;
    margin-right: 8px;
}