:host {
  --text-color--default: $black;
  --text-size--default: 14px;
  --margin-bottom--default: 24px;

  margin-bottom: var(--margin-bottom, var(--margin-bottom--default));

  display: block;

  h3 {
    font-family: 'Museo Sans Rounded', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    line-height: rem-calc(24px);
    color: $black;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .horizontal li {
    @include min-screen-width('tablet-portrait') {
      display: inline;
    }
  }

  .always-horizontal li {
    display: inline;
  }
  
  li {
    margin-right: 24px;
  
    font-family: 'Museo Sans Rounded', sans-serif;
    font-weight: 300;
    font-size: var(--text-size, var(--text-size--default));
    color: var(--text-color, var(--text-color--default));
    line-height: rem-calc(24px);
  }

  li.active {
    font-weight: 500;
  }

  .icon {
    fill: white;
  }
}