umc-column {
    --background-color--default: $white;
    --border-color--default: $white;
    --text-color--default: $black;
    --font-size--default: rem-calc(16px);
    background-color: var(--background-color, var(--background-color--default));
    color: var(--text-color, var(--text-color--default));
    margin-bottom: 12px;
    @include act-as-column--unscoped;
}

%fluid {
    margin-right: 56px;
    &:last-child {
        margin-right: 0;
    }
}

@mixin fluid--2x() {
    width: 12vw;
}

@mixin fluid--4x() {
    width: 28vw;
}

@mixin fluid--6x() {
    width: 44vw;
}

@mixin fluid--8x() {
    width: 60vw;
}

@mixin fluid--10x() {
    width: 76vw;
}

%direction--horizontal {
    flex-direction: row;
}

%align--left {
    justify-content: flex-start;
}

umc-section-container.styleguide-main-navigation umc-column-section {
    umc-column {
        color: $white;
        @include min-screen-width('tablet-portrait') {
            @include fluid--10x();
        }
        @include min-screen-width('desktop') {
            width: column-width-for-min-screen('desktop', 10);
        }
    }
    umc-list-header {
        margin-bottom: 8px;
    }
}

umc-column-section.umc-navigation-menu umc-column {
    @extend %fluid;
    &:first-child {
        @include fluid--2x();
        order: 3;
        @include min-screen-width('tablet-portrait') {
            order: initial;
        }
    }
    &:nth-child(2) {
        @include fluid--6x();
        flex-direction: row;
        order: 1;
        @include min-screen-width('tablet-portrait') {
            order: initial;
        }
    }
    &:last-child {
        @include fluid--2x();
        order: 2;
        @include min-screen-width('tablet-portrait') {
            order: initial;
        }
    }
}

umc-column.umc-breadcrumbs {
    @extend %fluid;
    margin-left: 56px;
    @include min-screen-width('tablet-portrait') {
        @include fluid--10x();
    }
    @include min-screen-width('desktop') {
        width: column-width-for-min-screen('desktop', 12);
    }
}

umc-column.umc-footer-logo {
    @extend %fluid;
    margin-bottom: 56px;
    @include min-screen-width('tablet-portrait') {
        @include fluid--10x();
    }
    @include min-screen-width('tablet-landscape') {
        @include fluid--6x();
        margin-bottom: 0;
    }
    @include min-screen-width('desktop') {
        width: column-width-for-min-screen('desktop', 6);
    }
}

umc-column.umc-footer-links-first {
    @extend %fluid;
    margin-bottom: 32px;
    @include min-screen-width('tablet-portrait') {
        @include fluid--4x();
        margin-bottom: 0;
    }
    @include min-screen-width('tablet-landscape') {
        @include fluid--4x();
    }
    @include min-screen-width('desktop') {
        width: column-width-for-min-screen('desktop', 4);
    }
}

umc-column.umc-footer-links-second {
    @extend %fluid;
    @include min-screen-width('tablet-portrait') {
        @include fluid--4x();
    }
    @include min-screen-width('desktop') {
        width: column-width-for-min-screen('desktop', 4);
    }
}

umc-column.umc-footer-meta-links {
    @extend %fluid;
    margin-bottom: 24px;
    @include min-screen-width('tablet-portrait') {
        @include fluid--10x();
    }
    @include min-screen-width('tablet-landscape') {
        @include fluid--8x();
        margin-bottom: 0;
    }
    @include min-screen-width('desktop') {
        width: column-width-for-min-screen('desktop', 8);
    }
}

umc-column.umc-footer-socials {
    @extend %fluid;
    @extend %direction--horizontal;
    @include min-screen-width('tablet-portrait') {
        @include fluid--4x();
    }
    @include min-screen-width('tablet-landscape') {
        justify-content: flex-end;
        @include fluid--4x();
    }
    @include min-screen-width('desktop') {
        width: column-width-for-min-screen('desktop', 4);
    }
}

// @include min-screen-width('desktop') {
//     width: column-width-for-min-screen('desktop', 8);
// }
// }