umc-logo {
    display: block;
    width: 288px;
    height: 52px;
}

umc-logo.umc-logo--fullcolor {
    background-repeat: no-repeat;
    background-image: url('./assets/logo-aumc.svg');
    width: 200px;
    height: 35px;
    @include min-screen-width('tablet-portrait') {
        width: 288px;
        height: 52px;
    }
}

umc-logo.umc-logo--white {
    background-repeat: no-repeat;
    background-image: url('./assets/logo-aumc-white.svg');
}