umc-icon {
  display: inline-block;

  svg {
    width: 18px;
    height: 18px;
  } 
}

umc-icon.diapositive svg {
  fill: white;
}

@mixin svg-icon($svg) {
  width: 22px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url('./assets/icon-' + $svg + '-white.svg');

}

umc-icon.facebook-white {
  @include svg-icon('facebook');
}

umc-icon.twitter-white {
  @include svg-icon('twitter');
}

umc-icon.linkedin-white {
  @include svg-icon('linkedin');
}


umc-icon.linkedin-white {
  @include svg-icon('instagram');
}
