umc-icon {
  display: inline-block;

  svg {
    width: 18px;
    height: 18px;
  } 
}

umc-icon.diapositive svg {
  fill: white;
}

umc-icon.arrow-right--before {
  width: 16px;
  height: 16px;
  background-image: url(./assets/arrow-right-white.svg);
  background-repeat: no-repeat;

  margin-right: 16px;
  

}
