umc-publications-list-item-title {
    display: block;
    font-size: rem-calc(24px);
    font-weight: 500;
    a,
    a:visited,
    a:active {
        color: #00778a;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
}