umc-section-container {
    --background-color--default: white;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 33px;
    @include min-screen-width('tablet-landscape') {
        padding: 0;
    }
    background-color: var(--background-color, var(--background-color--default));
}

umc-section-container.content-footer {
    --background-color: #f0f5f5;
    padding: 0;
}

umc-section-container.umc-debug-background-grid {
    position: fixed;
    background: rgba(0, 0, 255, 0.1);
    umc-column-section {
        padding: 0;
    }
    umc-column {
        height: 64px;
        background: rgba(255, 0, 0, 0.1);
    }
}

// umc-section {
//   box-sizing: border-box;
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   --background-color--default: white;
//   background-color: var(--background-color, var(--background-color--default));
//   width: 100%;
//   padding: 0 33px;
//   @include min-screen-width('tablet-landscape') {
//     padding: 0;
//   }
// }
// umc-section.content-section {
//   margin-top: 56px;
// }