umc-section-container {
    border: 1px dotted rgba($color: #ff6600, $alpha: .5);
    --background-color--default: white;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 33px;
    @include min-screen-width('tablet-landscape') {
        padding: 0;
    }
    background-color: var(--background-color, var(--background-color--default));
}

umc-section-container.content-footer,
umc-section-container.teaser-overview {
    --background-color: #f0f5f5;
    padding: 56px 0 0;
}

umc-section-container.umc-main-content {
    margin-bottom: 56px;
}

umc-section-container.teaser-overview {
    padding: 56px 0;
}

umc-section-container.styleguide-main-navigation {
    --background-color: #009cb4;
    margin-bottom: 112px;
}

umc-section-container.umc-debug-background-grid {
    position: fixed;
    background: rgba(0, 0, 255, 0.1);
    umc-column-section {
        padding: 0;
    }
    umc-column {
        height: 64px;
        background: rgba(255, 0, 0, 0.1);
    }
}