umc-teaser-section {
    --background-color--default: $white;
    --border-color--default: transparent;
    padding: 0;
    background-color: var(--background-color, var(--background-color--default));
    border-bottom: 1px solid var(--border-color, var(--border-color--default));
    @include act-as-column-section--unscoped;
    flex-wrap: wrap;
    @include min-screen-width('tablet-landscape') {
        flex-wrap: nowrap;
    }
}