:host {


  background-color: $white;
  --padding-vertical--default: 24px;
  --padding-horizontal--default: 24px;
  --border-color--default: transparent;
  
  padding: var(--padding-vertical, var(--padding-vertical--default)) var(--padding-horizontal, var(--padding-horizontal--default));
  border-bottom: 1px solid var(--border-color, var(--border-color--default));
}

@include act-as-column-section;