:host {
  --default-background-color: white;
  
  display: block;
  background-color: var(--background-color, var(--default-background-color));
  
}

.container {
  display: flex;

  border: 1px dotted $azure-blue;
}

.grid-item-container {
  flex-grow: 1;
}

.grid-item-container--middle {
  text-align: center;
}

.grid-item-container--left {
  text-align: left;
}


.grid-item-container--right {
  text-align: right;
}
