:host {
  display: block;
  background-color: $white;

  --border-color--default: transparent;
  
  border-bottom: 1px solid var(--border-color, var(--border-color--default));
}

.container {
  display: flex;
  justify-content: space-between;

  padding: var(--padding, var(--padding--default));
}

.grid-item-container:last-child {
  @include wider-than('small') {
    order: -1;
  }  
}


