umc-section {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    --background-color--default: white;
    background-color: var(--background-color, var(--background-color--default));
    width: 100%;
    padding: 0 33px;
    @include min-screen-width('tablet-landscape') {
        padding: 0;
    }
}


/* Variations */

umc-section.navigation-menu {
    --background-color: #009cb4;
}

umc-section.search-menu {
    --background-color: #009cb4;
}

umc-section.more-links {
    --background-color: #f0f5f5;
}

umc-section.footer-links {
    --background-color: #003741;
}

umc-section.footer-colofon {
    --background-color: #00778a;
}