umc-sidebar {
  --background-color--default: #f0f5f5;
  --padding-vertical--default: 24px;
  --padding-horizontal--default: 24px;
  --border-color--default: transparent;
  
  padding: var(--padding-vertical, var(--padding-vertical--default)) var(--padding-horizontal, var(--padding-horizontal--default));
  background-color: var(--background-color, var(--background-color--default));
  
  @include act-as-column--unscoped;
}


