umc-teaser {
    --background-color--default: $white;
    --border-color--default: $white;
    --text-color--default: $black;
    --font-size--default: $black;
    box-sizing: border-box;
    @include act-as-column--unscoped;
    background-color: var(--background-color, var(--background-color--default));
    margin-bottom: 12px;
    font-family: 'Museo Sans Rounded', sans-serif;
    font-weight: 300;
    font-size: rem-calc(var(--text-size, var(--text-size--default)));
    color: var(--text-color, var(--text-color--default));
    line-height: rem-calc(24px);
    img {
        width: 100%;
    }
}

%fluid {
    margin-right: 56px;
    &:last-child {
        margin-right: 0;
    }
}

@mixin fluid--2x() {
    width: 12vw;
}

@mixin fluid--4x() {
    width: 26vw;
}

@mixin fluid--6x() {
    width: 39vw;
}

@mixin fluid--8x() {
    width: 60vw;
}

@mixin fluid--10x() {
    width: 76vw;
}

umc-teaser {
    @extend %fluid;
    @include min-screen-width('tablet-portrait') {
        /* Every second child */
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    @include min-screen-width('tablet-landscape') {
        &:nth-child(2n) {
            margin-right: 56px;
        }
        /* Every third child */
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    margin-bottom: 56px;
    @include min-screen-width('tablet-portrait') {
        @include fluid--6x();
    }
    @include min-screen-width('tablet-landscape') {
        @include fluid--4x();
        // margin-bottom: 0;
    }
    @include min-screen-width('desktop') {
        width: column-width-for-min-screen('desktop', 4);
    }
}