umc-breadcrumbs {
  display: block;

  margin: 68px 0;

  /* TODO: act-as-section */
  width: map-deep-get($grid, "small", "content-width");

  @include min-screen-width('tablet-portrait') {
    width: map-deep-get($screens, 'tablet-portrait', 'content-width');
  }

  @include min-screen-width('tablet-landscape') {
      width: map-deep-get($screens, 'tablet-landscape', 'content-width');
  }

  @include min-screen-width('desktop') {
      width: map-deep-get($screens, 'desktop', 'content-width');
  }
}
