umc-content-header {
    @include act-as-column-section--unscoped;
    // justify-content: center;
    background-color: #f0f5f5;
    padding: 32px 0 32px;
    flex-wrap: wrap;
}

umc-content-header umc-title-block {
    margin: 0 0 56px 56px;
    ;
}

umc-section-container.umc-search-header umc-content-header {
    background-color: #694893;
    padding: 56px;
    border-radius: 0 0 0 16px;
    margin-bottom: 56px;
    margin-top: -56px;
}