umc-title-block {
  font-family: 'Museo Sans Rounded', sans-serif;
  font-weight: 300;
    font-size: rem-calc(48px);
    margin: 0;
    line-height: rem-calc(56px);
    color: $black;
}
umc-title-block.large {
  font-size: rem-calc(48px);
}

umc-title-block.regular {
  font-size: rem-calc(32px);
}
